<div class="container-xl my-5 text-light round-top-left round-bottom-right" style="padding: 5em 0 0 5em; background: #8bbec1;">

    <div class="container-md bg-secondary ml-auto round-bottom-right round-top-left">

<!--    <img class="d-block mx-auto mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
        <h1 class="display-5 fw-bold">Centered hero</h1>
        <div class="col-lg-6 ml-auto">
            <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
            <div class="d-grid">
                <button type="button" class="btn btn-accent btn-lg px-4 mr-4">Primary button</button>
            </div>
        </div>
    </div>

</div>